[Unit]
Description=
Documentation=
Wants=
Before=
After=
DefaultDependencies=
Conflicts=
Before=
ConditionVirtualization=

[Service]
Type=oneshot
PIDFile=
ExecStart=/usr/bin/true

[Install]
WantedBy=
