[Unit]
Description=devstack

[Service]
User=stack
Type=oneshot
ExecStartPre=/bin/wait-for-it.sh -h 172.28.0.2 -p 80 -t 3600
ExecStart=/opt/stack/devstack/stack.sh
ExecReload = /usr/bin/kill -HUP $MAINPID
KillMode = process
StandardOutput=tty

[Install]
WantedBy=multi-user.target
