[Unit]
Description=devstack

[Service]
User=stack
Type=oneshot
ExecStartPre=/bin/sleep 10
ExecStartPre=/usr/bin/sudo /usr/bin/ovs-vsctl set-manager ptcp:6640
ExecStart=/opt/stack/devstack/stack.sh
ExecReload = /usr/bin/kill -HUP $MAINPID
KillMode = process
StandardOutput=tty

[Install]
WantedBy=multi-user.target
